@model TelephoneIndexBook.Models.personInfo

@{
    ViewBag.Title = "DetailsPerson";
}

<h2 style="text-align:center">Details of a Person</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.designation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "UpdatePersonInfo", "Phone", new { id = Model.id }, new { @class = "btn btn-primary" }) &nbsp;&nbsp; &nbsp;&nbsp;
    @Html.ActionLink("Cancel", "DisplayPersonInfo", "Phone", new { @class = "btn btn-danger" })
</p>
